  @font-face {
    font-family: 'Quicksand Bold';
    src: url('/assets/fonts/Quicksand-Bold.ttf');
  }
  
  @font-face {
    font-family: 'Quicksand SemiBold';
    src: url('/assets/fonts/Quicksand-SemiBold.ttf');
  }
  
  @font-face {
    font-family: 'Quicksand Medium';
    src: url('/assets/fonts/Quicksand-Medium.ttf');
  }
  
html {
  -webkit-tap-highlight-color: rgba(255, 4, 4, 0);
}

body {
  padding-top: 85px; /* equal or slightly larger than navbar height */
  margin: 0;
  background-color: var(--primary-bg);
  overflow-x: hidden;
  font: normal 75% Arial, Helvetica, sans-serif;
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24"><path fill="%236A03A7" stroke="%23360255" stroke-width="2" stroke-linejoin="round" d="M18 14.88 8.16 3.15c-.26-.31-.76-.12-.76.28v15.31c0 .36.42.56.7.33l3.1-2.6 1.55 4.25c.08.22.33.34.55.26l1.61-.59a.43.43 0 0 0 .26-.55l-1.55-4.25h4.05c.36 0 .56-.42.33-.7Z"></path></svg>'), pointer!important
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- stats.js ---- */

.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}

/* ---- particles.js container ---- */

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#settings button{
    background-color: #1a1a1a;
    height: 70px;
    outline: none;
    border: solid 5px #3b3b3b;
    color: white;
    font-family: "Quicksand Semibold", sans-serif;
    font-size: 1.2em;
    border-radius: 15px;
    transition: all ease-in-out .15s;
    cursor: pointer;
    margin: 10px;
    font-size: 1.2em;
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24"><path fill="%236A03A7" stroke="%23360255" stroke-width="2" stroke-linejoin="round" d="M10 11V8.99c0-.88.59-1.64 1.44-1.86h.05A1.99 1.99 0 0 1 14 9.05V12v-2c0-.88.6-1.65 1.46-1.87h.05A1.98 1.98 0 0 1 18 10.06V13v-1.94a2 2 0 0 1 1.51-1.94h0A2 2 0 0 1 22 11.06V14c0 .6-.08 1.27-.21 1.97a7.96 7.96 0 0 1-7.55 6.48 54.98 54.98 0 0 1-4.48 0 7.96 7.96 0 0 1-7.55-6.48C2.08 15.27 2 14.59 2 14v-1.49c0-1.11.9-2.01 2.01-2.01h0a2 2 0 0 1 2.01 2.03l-.01.97v-10c0-1.1.9-2 2-2h0a2 2 0 0 1 2 2V11Z"></path></svg>'), pointer!important
  }
  #settings button:hover{
    background-color: #6a03a7;
    border: solid 5px #6a03a7;
    box-shadow: 0 0 10px #6a03a7, 0 0 20px #6a03a7, 0 0 30px #6a03a7;
  }
  #settings button:active{
    scale: 0.8;
  }
  #settings button:disabled{
    background-color: #0e0e0e;
    border: solid 5px #292929;
    scale: 1;
    box-shadow: 0 0 0px #000;
  }
#roddyricchboxselect{
    text-align: center;
    z-index: 9998;
    position: relative;
}

  .roddrickiliousnotfinanciallystablemathmaticallyacurateretangularprism{
    border: 3px solid #6a03a7;
    background-color: #3a3a3a2d;
    backdrop-filter: blur(3px);
    padding: 20px;
    border-radius: 10px;
    margin: 0 10px 10px;
    min-width: 250px; 
    flex: 1;
    max-width: calc(33.33% - 20px);
  }

  .rizzpopup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.425);
    color: white;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
    font-size: 2em;
    z-index: 9999;
    opacity: 0;
    transition: all 0.5s ease;
    font-family: 'Clash Display Semibold';
  }

#roddyrichesbox{
position: absolute;
z-index: 9999;
text-align: center;
top: 50%;
left: 49%;
transform: translate(-50%, -55%);
border-radius: 35px;
color: white;
padding: 30px;
line-height: 1.8;
overflow: clip;
scrollbar-width: none;
-ms-overflow-style: none;
border: 3px solid #6a03a7;
background-color: #3a3a3a2d;
backdrop-filter: blur(3px);
padding: 20px;
border-radius: 10px;
margin: 0 10px 10px;
  }

#roddyricchboxhome{
    overflow: clip;
    text-align: center;
    z-index: 9998;
    position: fixed;
    justify-content: center;
    border-radius: 15px;
    transform: translateX(-50%);
    left: 50vw;
    top: 25vh;
    width: 100vw;
    height: 100vh;
    padding: 20px;
}

#lowtaperfade{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(14, 14, 14), #0c0c0c00);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    left: 0;
    position: fixed;
    top: 0px;
    z-index:2;
  }

h1 {
    font-family: 'Quicksand Bold', sans-serif;
    font-size: 40px;
  }
  
  h2 {
    font-family: 'Quicksand Bold', sans-serif;
    color: #802eaf;
  }
  
  h3 {
    font-family: 'Quicksand Semibold', sans-serif;
  }
  
  h4 {
    font-family: 'Quicksand Semibold', sans-serif;
  }
  
  h5 {
    font-family: 'Quicksand Semibold', sans-serif;
  }
  
  h6 {
    font-family: 'Quicksand Semibold', sans-serif;
  }
  p {
    font-family: "Quicksand Medium";
    font-size:large;
    color: #802eaf;
  }

.page-content {
  position: relative;
  z-index: 1;
  text-align: center;
  margin-bottom: 50px;
}

select{
    font-family: "Quicksand Bold", sans-serif;
    font-size: 1.2em;
    padding: 15px 5px;
    margin: 10px;
    background-color: #080808;
    color: #fff;
    border: 3px solid #141414;
    min-width: 40px;
    border-radius: 30px;
    cursor: auto;
    box-shadow: 0 4px 6px rgb(0, 0, 0, 0.2);
    z-index:9999;
    text-decoration-color: white;
    transition: all .2s ease-in-out; 
    overflow: visible;
    text-align: center;
    transform: scaleX(30px);
    width: 200px;
  }
  
  select:hover{
    border: 3px solid #6a03a7;
    transition: all .2s ease-in-out; 
  }
  
  select:focus-visible{
    border: 3px solid #6a03a7;
    transition: all .2s ease-in-out; 
    outline: 0px;
    box-shadow: 0 0 5px #6a03a7, 0 0 15px #6a03a7, 0 0 25px #6a03a7;
  }

.input{
    width: 200px;
    position: relative;
    align-self: center;
    text-align: center;
  }
  .input:focus-visible{
    border: 3px solid #6a03a7;
    transition: all .2s ease-in-out; 
    outline: 0px;
    width: 200px;
    box-shadow: 0 0 5px #6a03a7, 0 0 15px #6a03a7, 0 0 25px #6a03a7;
  }

input{
    font-family: "Quicksand Bold", sans-serif;
    font-size: 1.2em;
    padding: 15px 5px;
    margin: 10px;
    background-color: #080808;
    color: #fff;
    border: 3px solid #141414;
    min-width: 40px;
    border-radius: 30px;
    cursor: auto;
    box-shadow: 0 4px 6px rgb(0, 0, 0, 0.2);
    z-index:9999;
    text-decoration-color: white;
    transition: all .2s ease-in-out; 
    overflow: visible;
    text-align: center;
    transform: scaleX(30px);
    width: 300px;
  }
  input:hover{
    border: 3px solid #6a03a7;
    transition: all .2s ease-in-out; 
  }
  input:focus-visible{
    border: 3px solid #6a03a7;
    transition: all .2s ease-in-out; 
    outline: 0px;
    width: 600px;
    box-shadow: 0 0 5px #6a03a7, 0 0 15px #6a03a7, 0 0 25px #6a03a7;
  }

#settings{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    position: relative;
    left: 1px;
  }